.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

__pycache__/
*.py[cod]
*$py.class

.env
.env.local
.env.*.local
*.pem
*.key

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea/

.ipynb_checkpoints

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthru.db
Desktop.ini
$RECYCLE.BIN/
